@import "tailwindcss";


@layer components {
    .option{
        @apply w-full text-sm px-5 py-1 
    }
.select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
}


}
